<% comments.forEach(function (comment) { %>
<li data-id="<%= comment.author._id %>" data-name="<%= comment.author.name %>" class="jieda-daan"> <a name="<%= comment.author.name %>"></a>
  <div class="detail-about detail-about-reply"> <a class="fly-avatar" href="/posts?author=<%= comment.author._id %>">
      <img src="/img/<%= comment.author.avatar %>" alt="<%= comment.author.name %>"> </a>
    <div class="fly-detail-user"> <a href="/posts?author=<%= comment.author._id %>" class="fly-link">
        <cite><%= comment.author.name %></cite> </a>
    </div>
    <div class="detail-hits"> <span><%= comment.created_at %></span> </div>
  </div>
  <div class="detail-body layui-text jieda-body photos"><%- comment.content %></div>
  <div class="jieda-reply">
    <% if (user && comment.author._id && user._id.toString() === comment.author._id.toString()) { %>
    <span type="reply"><a class="delete" href="Javascript:void(0)" bind_loction="/comments/<%= comment._id %>/remove">删除</a></span>
    <% } %>
    <span class="reply" type="reply">回复</span>
  </div>
</li>
<% }) %>