<%- include('components/header') %>
  <div class="layui-row layui-col-space15">
    <% if (posts && posts.length>0) { %>
    <div class="layui-col-md8">
      <ul class="fly-list">
        <% posts.forEach(function (post) { %>
        <%- include('components/post-content', { post: post }) %>
        <% }) %>
      </ul>
    </div>
    <div class="layui-col-md4">
    </div>
    <% } else { %>
    <% if (user) { %>
    <div class="fly-home fly-panel" style="background-image: url();"> <img src="/img/<%= user.avatar %>" alt="一訫丶卟二">
      <h1><%= user.name %> <i class="iconfont icon-nan"></i> </h1>
      <p class="fly-home-info"> <i class="iconfont icon-kiss" title="飞吻"></i><span style="color: #FF7200;">20飞吻</span>
        <i class="iconfont icon-shijian"></i><span>2019-7-31 加入</span> <i
          class="iconfont icon-chengshi"></i><span>来自深圳</span> </p>
      <p class="fly-home-sign">（<%= user.bio %>）</p>
    </div>
    <div class="layui-container" style="height: 400px;text-align: center;">
      <div class="layui-row layui-col-space15">
        <p>数据暂无</p>
      </div>
    </div>
    <% } %>
    <% } %>

  </div>

</div>
<div class="fly-footer">
  <p><a href="" target="_blank">Fly社区</a> 2017 &copy; <a href="http://www.layui.com/" target="_blank">layui.com 出品</a>
  </p>
  <p>
    <a href="" target="_blank">付费计划</a>
    <a href="" target="_blank">获取Fly社区模版</a>
    <a href="" target="_blank">微信公众号</a>
  </p>
</div>

<%- include('components/footer') %>
<script src="http://pv.sohu.com/cityjson?ie=utf-8"></script>
<script>
  layui.use(['element', 'layer'], function () {
    var element = layui.element;
    var layer = layui.layer;
    //监听折叠
    element.on('collapse(test)', function (data) {
      layer.msg('展开状态：' + data.show);
    });
  });
  // alert(returnCitySN['cip'] + returnCitySN['cname']);
</script>